.Section1 {
    span{
        font-family: emoji;
        font-size: 20px;
        opacity: 0.7;
        font-weight: 600;
    }
}

.diamondGif {
    img {
        height:120px;
        width:120px
    }
}

.Section1 {
    div {
        button{
            border:none;
            padding: 5px 12px;
            border-radius: 50px;
            background:#000;
            color:#fff;
            font-family: 'Montserrat', sans-serif;
            font-weight:500;
            font-size: 20px;
            position:relative;
            z-index:1;
            overflow:hidden;
            transition:ease 0.2s;
        }

        button:after{
            content:"N";
            position:absolute;
            font-size:42px;
            font-family: emoji;
            top:-25%;
            left:30%;
            color:gray;
            opacity: 0.5;
            z-index:-1;
            transition:ease 0.2s;
         }

         button:hover{
            background: repeat padding-box border-box 0% 0%/auto auto scroll linear-gradient(229deg, #ff4f4f 0%, rgba(29, 44, 243, 0) 100%), #FF4F4F;
        }

        button:hover:after{
            top:100px;
        }
        
    }
}


.framBox{
    position:relative;
}

.framBox{
    .framImg {
        width:100%;   
    }

    .bCoin{
        position: absolute;
        top:20%;
        left:12%;
    }

    .innerFrameTxt{
        position: absolute;
        top:10%;
        left:42%;
        font-family: emoji;
        font-size: 20px;
        opacity: 0.7;
        font-weight: 600;
    }

    .farmeBtns{
        position: absolute;
        bottom:-5%;
        left:36%;
        border:none;
        padding: 5px 12px;
        border-radius: 50px;
        background:#000;
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight:500;
        font-size: 20px;
        z-index:1;
        overflow:hidden;
        transition:ease 0.2s;
    }

    .farmeBtns:hover{
        background: repeat padding-box border-box 0% 0%/auto auto scroll linear-gradient(229deg, #ff4f4f 0%, rgba(29, 44, 243, 0) 100%), #FF4F4F;
    }
    
}


.Pading{
    padding:0 100px 0 100px;
}



@media only screen and (max-width: 767.5px) and (min-width: 240px)  {
    .Pading{
        padding:0 20px 0 20px;
    }

    .framBox {
        .bCoin{
            height:70%;
        }

        .farmeBtns{
            bottom:-2%;
            left:40%;
        }
    }
}