.bg{
    background:	rgba(255,255,255,0.4);
}

.homeSection{
    text-align: center;
}

.homeSection{
    img {
        width:auto;
        height:auto;
    }
} 

.ntfs {
    h6 {
        font-weight:600;
        font-style: italic;
    }
}

.buyNumis{
    height:40px;
    width:140px;
    margin:40px 20px 0 20px;
    border :solid 1px #000;
    background: transparent;
    transition:0.5s ease ;
}
.buyNumis:hover{
    height:40px;
    width:140px;
    margin:40px 20px 0 20px;
    border :solid 1px #000;
    background: #000;
    opacity:0.6;
    color:#fff;
}

.whitePaper{
    height:40px;
    width:140px;
    margin:40px 20px 0 20px;
    border:none;
    background: #000;
    opacity:0.6;
    transition:0.5s ease ;
    color:#fff;

}
.whitePaper:hover{
    opacity:1; 
}

.coin{
    width: 100%;
    height:auto;
    
}

.coinCardBox{
    height:auto;
    text-align:center;
}

.btnSection{
    height:auto;
    wifth:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 0 0;
    font-size:20px;
    position:relative;
}
.btnSection {
    button{
        border:none;
        width:170px;
        background-color: rgba(28, 28, 28, 1);
        color:#fff;
        font-size:22px;
        transition:0.5s ease ;
    }

    button:hover{          
        color:#89EABD;
    }
    
}

.btnSection {
    img {
        position: absolute;
        top: 34px;
        width: 200px;
        height: 26px;
        left: 28px;
}
}
@media only screen and (max-width: 767.5px) and (min-width: 240px)  {
    .coin{
        widht:auto;
        height:auto;
    }


    .btnSection {
        img {
            position: absolute;
            top: 34px;
            width: 200px;
            height: 26px;
            left: 75px;
        }
    }

    .homeSection {
        img {
            width:300px;
            height:auto;
        }
    }
}